#appbar {
  background-color: #333;
  color: white;
}

#appbar-logo {
  height: 10vh;
  filter: invert();
}

#event-table{
  display: flow-root;
  height: 80vh;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#event-table::-webkit-scrollbar{
  display: none;
}